.dapplets {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  max-width: 1060px;

  padding: 24px 20px;
  margin-left: 10px;

  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  backdrop-filter: blur(30px);

  border-radius: 10px;

  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding-bottom: 20px;

    border-bottom: 1px solid white;

    select, input {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.8);
      box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.36);
      border-radius: 10px;

      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }

    .search {
      max-width: 564px;
      width: 100%;
      height: 40px;

      color: #BBBBBB;

      background: url("../../icons/search.svg") no-repeat 10px 12px, linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.8); // no-repeat 10px 12px
      padding-left: 36px;
    }

    .sortByFirst {
      padding: 10px;
      max-width: 210px;
      width: 100%;
      height: 40px;
    }

    .sortBySecond {
      padding: 10px;
      max-width: 210px;
      width: 100%;
      height: 40px;
    }
  }
}

@media (min-width: 320px) and (max-width: 428px) {
  .dapplets{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    padding: 10px;

    .header{
      width: 300px;
      flex-direction: column;
      gap: 10px;

      .search{
        width: 264px
      }

      .sortByFirst, .sortBySecond{
        width: 300px
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1440px){
  .dapplets{
    zoom: 75%;
  }
}