.dapplets {

  width: 1060px;

  padding: 24px 20px;

  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  backdrop-filter: blur(30px);

  .header {
    display: flex;
    justify-content: space-between;

    width: 1060px;

    padding-bottom: 20px;

    border-bottom: 1px solid white;

    select, input {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.8);
      box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.36);
      border-radius: 10px;

      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }

    .search {
      width: 564px;
      height: 40px;

      color: #BBBBBB;

      background: url("../../icons/search.svg") no-repeat scroll 10px 12px;
      padding-left: 36px;
    }

    .sortByFirst {
      width: 210px;
      height: 40px;
    }

    .sortBySecond {
      width: 210px;
      height: 40px;
    }
  }

}

@media (min-width: 320px) and (max-width: 428px) {
  .dapplets{
    width: 300px;

    padding: 10px;

    .header{
      width: 100%;
      flex-direction: column;

      select, input{
        width: 100%;
      }
      .search{
        width: 100%;
      }
    }
  }
}