body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

input, select, button
{
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

.App{
  display: grid;
  grid-template-columns: 360px 1240px 320px;
  grid-template-rows: 56px 90px 1fr;

  .menuWrap{
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .headerWrap{
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .dappletsWrap{
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .rightMenuWrap{
    grid-column-start: 3;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 1920px) {
  body{
    zoom: 75%;
  }
}
